.audio-bar {
  color: pink;
  height: 2em;
  background-color: pink;
  width: 0;
  margin-left: 1.5em;
}

.record-control-button {
  margin: 1.5em;
  background-color: transparent;
  border: 1px solid gray;
  padding: 1em;
  border-radius: 0.4em;
  cursor: pointer;
}

.record-control-button:focus {
  outline: gray auto;
}
